<h4>CREATE SMS CHEM</h4>
<form [formGroup]="smsForm">

  <div class="row">

    <div class="col-md-6">

      <div class="row" style="margin: 10px 0px">
        <div class="col-md-2">
          <label style="font-weight: bold">Site</label>
        </div>
        <div class="col-md-5">
          <select name="" class="form-control" formControlName="site" (change)="loadSite()">
            <option value="">Choose a site</option>
            <option *ngFor="let site of siteList" [ngValue]="site">{{site.name}}</option>
          </select>
        </div>

        <div class="col-md-2">
          <label style="font-weight: bold">Network</label>
        </div>
        <div class="col-md-3">
          <select class="form-control" formControlName='network' (change)="loadNetwork()">
            <option value="">Normal</option>
            <option value="Down">Down</option>
<!--            <option value="Down, power outage confirmed">Down, power outage confirmed</option>-->
            <option value="Recovered">Recovered</option>
          </select>
        </div>
      </div>

      <div class="row" style="margin: 10px 0px">
        <div class="col-md-2">
          <label style="font-weight: bold">Line</label>
        </div>
        <div class="col-md-10">
          <select name="" class="form-control" formControlName="line" (click)="loadLine()">
            <option value="">Choose a line</option>
            <option *ngFor="let line of lineList" [ngValue]="line">{{line.name}}</option>
          </select>
        </div>
      </div>

      <div class="row" style="margin: 10px 0px">
        <div class="col-md-2">
          <label style="font-weight: bold">Event</label>
        </div>
        <div class="col-md-6">
          <select name="" class="form-control" formControlName="event" (change)="loadEvent()">
            <option value="">Choose a event</option>
            <option *ngFor="let event of eventList" [ngValue]="event">{{event.name}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label style="font-weight: bold">Value</label>
        </div>
        <div class="col-md-2">
          <input class="form-control" type="text" formControlName="extra">
        </div>
      </div>

      <div class="row" style="margin: 10px 0px">
        <div class="col-md-2">
          <label style="font-weight: bold">Impact</label>
        </div>
        <div class="col-md-10">
          <select name="" class="form-control" formControlName="impact" [compareWith]="compareByID">
            <option value="">Choose a impact</option>
            <option *ngFor="let impact of impactList" [ngValue]="impact">{{impact.name}}</option>
          </select>
        </div>
      </div>

      <div class="row" style="margin: 10px 0px">
        <div class="col-md-2">
          <label style="font-weight: bold">Issue Time</label>
        </div>

        <div class="col-md-4">
          <input type="datetime-local" class="form-control" formControlName="issueTime" placeholder="">
        </div>
      </div>

      <div class="row" style="margin: 10px 0px">
        <div class="col-md-2">
          <label style="font-weight: bold">Restore Time</label>
        </div>
        <div class="col-md-4">
          <input type="datetime-local" class="form-control" formControlName="restoreTime" placeholder="">
        </div>
      </div>

      <div class="row" style="margin: 20px 0px">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button style="width: 100%" [disabled]="!smsForm.valid" class="btn btn-outline-primary"
                  (click)="generatorChemSms()">
            Generator SMS
          </button>
        </div>
      </div>

      <div  *ngIf="isTextPresent">
        <h4>Internal</h4>
        <div class="row" style="margin-left: 0">
          <p> {{smsString}}</p>
          <button style="margin-left: 20px" class="btn btn-outline-info" *ngIf="isTextPresent"
                  (click)="copyToClipboard()">
            <i class="fa fa-copy"></i>
          </button>
        </div>
      </div>

      <div *ngIf="isTextPresentCustomer">
        <h4>Customer</h4>
        <div class="row" style="margin-left: 0">
          <div id="customer">
            <p>{{smsStringCustomer}}</p>
          </div>
          <button style="margin-left: 20px" class="btn btn-outline-info" *ngIf="isTextPresentCustomer"
                  (click)="copyToClipboardCustomer()">
            <i class="fa fa-copy"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
<!--      Display clock-->
      <div class="row">
        <div *ngIf="isClockPresent" class="col-md-4">
          <app-clock [childData]="zoneIdToChild">
          </app-clock>
        </div>
        <div *ngIf="isInfoSitePresent" class="col-md-8">
          <p style="font-weight: bold">Nation: {{this.site.nation}} - City: {{this.site.city}}</p>
          <p style="font-weight: bold">ZoneId: {{this.site.zoneId}} - {{gmtValue}}</p>
        </div>
      </div>

      <div style="margin: 0" class="row" *ngIf="isTextPresentContact">
        <div id="contact">
          <span style="font-weight: bold">SITE: {{siteName}}</span>
          <ol>
            <li *ngFor = "let contact of contactList">
              {{contact.name}} - Tel: {{contact.office}} - Mobile: {{contact.phone}}
            </li>
          </ol>
        </div>
        <div>
          <button style="margin-left: 20px" class="btn btn-outline-info"
                  (click)="copyContact()">
            <i class="fa fa-copy"></i>
          </button>
        </div>
      </div>

      <div>
        <p style="font-weight: bold">TOPO:</p>
        <img style="width: 100%" src="{{topoPath}}" alt="">
      </div>
      <div *ngIf="isTextPresentPingLog">
        <p style="font-weight: bold">WORKING:</p>
        <p><span style="font-weight: bold">Device IP</span>: {{ipAddress}}</p>
        <p><span style="font-weight: bold">Ping Command</span>: {{pingCommand}}</p>
      </div>
      <div>
        <p style="font-weight: bold"> EMAIL:</p>

        <p style="font-weight: bold" *ngIf="isTextPresentToEmail">To:</p>
        <div class="row" *ngIf="isTextPresentToEmail">
          <div style="padding-left: 15px;" id="toEmail">
            <p>{{email.recipients}}</p>
          </div>
          <button style="margin-left: 20px" class="btn btn-outline-info"
                  (click)="copyToEmail()">
            <i class="fa fa-copy"></i>
          </button>
        </div>

        <p style="font-weight: bold" *ngIf="isTextPresentCcEmail">Cc:</p>
        <div class="row" *ngIf="isTextPresentCcEmail">
          <div style="padding-left: 15px;" id="ccEmail">
            <p>{{email.carbonCopy}}</p>
          </div>
          <button style="margin-left: 20px" class="btn btn-outline-info"
                  (click)="copyCcEmail()">
            <i class="fa fa-copy"></i>
          </button>
        </div>

        <p style="font-weight: bold" *ngIf="isTextPresentSubjectEmail">Subject:</p>
        <div class="row" *ngIf="isTextPresentSubjectEmail">
          <div style="padding-left: 15px;" id="subjectEmail">
            <p>{{email.subject}}</p>
          </div>
          <button style="margin-left: 20px" class="btn btn-outline-info"
                  (click)="copySubjectEmail()">
            <i class="fa fa-copy"></i>
          </button>
        </div>

        <p style="font-weight: bold" *ngIf="isTextPresentEmail">Content</p>
        <div class="row" *ngIf="isTextPresentEmail" >
          <div style="padding-left: 15px;" id="email">
            <ul *ngFor = "let item of content" style="list-style-type: none; padding-left: 0; margin-bottom:0">
              <li style="white-space: pre">{{item}}</li>
            </ul>
          </div>
          <div>
            <button *ngIf="isTextPresentEmail" style="margin-left: 20px" class="btn btn-outline-info"
                    (click)="copyToClipboardEmail()">
              <i class="fa fa-copy"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>


<!--{{smsForm.value | json}}-->
