<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="row" style="margin: 0">
  <div class="col-1">

  </div>
  <div class="col-10">
    <ul>
      <li><a class="active" href="#task">HOME</a></li>
      <li><a href="#">TASKS</a></li>
      <li><a href="#site/company/1">SITES</a></li>
      <li><a href="#smsinnotek">INNOTEK</a></li>
      <li><a href="#smsensol">ENSOL</a></li>
      <li><a href="#smschem">CHEM</a></li>
      <li><a href="#sms">OTHER</a></li>
<!--      <li><a href="#wiki">WIKI</a></li>-->
    </ul>
    <router-outlet></router-outlet>
  </div>
  <div class="col-1">

  </div>
</div>



