<h4>CREATE LINE</h4>
<div style="margin: 5px 0px">
  <p><span style="font-weight: bold">Name</span>: {{site?.name}}</p>
  <p><span style="font-weight: bold">Configuration</span>: {{site?.configure}}</p>
  <p><span style="font-weight: bold">Configuration Kr</span>: {{site?.configureKr}}</p>
  <p><span style="font-weight: bold">Company</span>: {{site?.company.name}}</p>
</div>
<form [formGroup]="lineForm">
  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Name</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="name">
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Short Name 1 (Internal)</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="shortName">
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Short Name 2 (Customer)</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="shortName2">
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">ISP</label>
    </div>
    <div class="col-md-10">
      <select name="" class="form-control" formControlName="isp">
        <option value=''>Choose a ISP</option>
        <option *ngFor="let isp of ispList" value={{isp.name}}>{{isp.name}}</option>
      </select>
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Circuit ID</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="circuitId">
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Tip</label>
    </div>
    <div class="col-md-10">
      <quill-editor style="width: 100%;height: 250px" formControlName="tip"></quill-editor>
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-9"></div>
    <div class="col-md-1">
      <button style="width: 100%" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
    </div>
    <div class="col-md-1">
      <button [disabled]="!lineForm.valid" style="width: 100%" class="btn btn-outline-success" (click)="save()">Save</button>
    </div>
    <div class="col-md-1"></div>
  </div>

  <h5>Line List</h5>
  <div class="row" style="margin-bottom: 5px">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <!--      <button [routerLink]="['/line/add/' + site?.id]" style="width: 100%" class="btn btn-outline-info">Create Line</button>-->
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
    <th style="text-align: center">No.</th>
    <!--    <th>ID</th>-->
    <th>Name</th>
    <th>Short Name 1 (Internal)</th>
    <th>Short Name 2 (Customer)</th>
    <th style="text-align: center">ISP</th>
    <th style="text-align: center">Circuit ID</th>
    <th>Tip</th>
    <!--    <th style="text-align: center">Action</th>-->
    </thead>
    <tbody>
    <tr *ngFor="let line of site?.lineList,  index as i">
      <td style="text-align: center">{{i + 1}}</td>
      <!--      <td>{{line.id}}</td>-->
      <td>{{line?.name}}</td>
      <td>{{line?.shortName}}</td>
      <td>{{line?.shortName2}}</td>
      <td style="text-align: center">{{line.isp != null ? line.isp : ""}}</td>
      <td style="text-align: center">{{line.circuitId != null ? line.circuitId : ""}}</td>
      <td [innerHTML]="line.tip != null ? line.tip : ''"></td>
      <!--      <td style="text-align: center">-->
      <!--        <button style="margin: 5px" class="btn btn-outline-info" [routerLink]="['/line/edit/' + line.id]">Edit</button>-->
      <!--        <button style="margin: 5px" class="btn btn-outline-danger" (click)="openDialogDelete(line)">Delete</button>-->
      <!--      <button style="width: 100%" [hidden]="this.username != this.tkn?.creator" class="btn btn-outline-danger" (click)="openDialogDelete(tkn)">Delete</button>-->
      <!--      </td>-->
    </tr>
    </tbody>
  </table>

</form>


<!--{{lineForm.value | json}}-->
