<h4>EDIT LINE</h4>
<div style="margin: 5px 0px">
  <p><span style="font-weight: bold">Name</span>: {{line.site.name}}</p>
  <p><span style="font-weight: bold">GMT</span>: {{line.site.gmt}}</p>
  <p><span style="font-weight: bold">Configuration</span>: {{line.site.configure}}</p>
  <p><span style="font-weight: bold">Configuration Kr</span>: {{line.site.configureKr}}</p>
  <p><span style="font-weight: bold">Company</span>: {{line.site.company.name}}</p>
</div>
<form [formGroup]="lineForm">
  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Name</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="name">
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Short Name 1 (Internal)</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="shortName">
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Short Name 2 (Customer)</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="shortName2">
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">ISP</label>
    </div>
    <div class="col-md-10">
      <select name="" class="form-control" formControlName="isp">
        <option value="">Choose a ISP</option>
        <option *ngFor="let isp of ispList" value={{isp.name}}>{{isp.name}}</option>
      </select>
    </div>
  </div>

  <div class="row" style="margin: 5px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">Circuit ID</label>
    </div>
    <div class="col-md-10">
      <input type="text" class="form-control" formControlName="circuitId">
    </div>
  </div>

  <div class="row" style="margin: 10px 0px">
    <div class="col-md-2">
      <label style="font-weight: bold">TIP</label>
    </div>
    <div class="col-md-10">
      <div id="quill-editor" style="width: 100%;height: 250px" formControlName="tip"></div>
    </div>
  </div>


  <div class="row" style="margin: 5px 0px">
    <div class="col-md-9"></div>
    <div class="col-md-1">
      <button style="width: 100%" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
    </div>
    <div class="col-md-1">
      <button [disabled]="!lineForm.valid" style="width: 100%" class="btn btn-outline-success" (click)="update()">Update</button>
    </div>
    <div class="col-md-1"></div>
  </div>
</form>

{{lineForm.value | json}}
